.gradient-text {
  background: linear-gradient(to right, #22d3ee, #3b82f6);
  background-clip: text;
  color: transparent;
}

.gradient-bg {
    background: linear-gradient(to right, #22d3ee, #3b82f6);
}